<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cổng thông tin quy hoạch các dự án xây dựng Tp. Hồ Chí Minh - QHoach.com</title>
	<script src="/fusion/jQuery.js"></script>
	<style>
body {
	padding:0;
	margin:0;
}

#wrapper {
	margin:0 auto;
	width:500px;
}
#p {
	position: fixed;
	display:none;
	background-color: #FFF;
	border: 1px solid #555;
	width:398px;
}
	</style>
	<script>
function searchProject() {
	var el = $("#proj");
	var val = el.val();
	var reEle = $("#p");
	if (reEle.is(":hidden")) {
		reEle.show();
	}
	if (val!="") {
		reEle.html("");
		$.get("/search", {q:val}, function(data) {
			if (data.length<=0) {
				reEle.html('<i>&nbsp;&nbsp;No result</i>');
			}
			for(i=0; i<data.length; i++) {
				var item = data[i];
				reEle.append('<div class="project"><a href="" onclick="selectProject(\'' + item.id + '\', \'' + item.name + '\');return false;" title="Investor: '+item.investor+'">' + item.name + ' - ' + item.district + '</a></div>');
			}
		}, "json");
	} else {
	$("#project").val("");
	}
}
function selectProject(id, name) {
	$("#proj").val(name);
	$("#project").val(id);
}
function blurProject() {
	setTimeout(function(){
		var reEle = $("#p");
		reEle.slideUp(100, function(){
			$(this).html("<i>Type a name of project</i>");
		});
	}, 100);
}
$(document).ready(function(){
	var o = $("#proj").offset();
	$("#p").offset({ top: o.top+23, left: o.left })
});
	</script>
</head>
<body>
<div id="wrapper">
<form action="/news/add" method="post" onsubmit="return confirm('Are you finish editing data?');">
	<h2>Add news</h2>
	{% if message %}
		<div class="message">{{ message }}</div>
	{% endif %}
	
	<table>
		<tr>
			<td align="right">Project</td>
			<td><input type="text" id="proj" name="proj" onFocus="searchProject();" onKeyup="searchProject();" onBlur="blurProject();" style="width:400px" autocomplete="off" /><input type="hidden" id="project" name="project" /><div id="p"><i>Type a name of project</i></div></td>
		</tr>
		<tr>
			<td align="right">Title</td>
			<td><input type="text" name="title" style="width:400px" /></td>
		</tr>
		<tr>
			<td valign="top" align="right">Content</td>
			<td><textarea rows="7" style="width:400px" name="teaser"></textarea></td>
		</tr>
		<tr>
			<td align="right">Source</td>
			<td><input type="text" name="source" style="width:400px" /></td>
		</tr>
		<tr>
			<td align="right">Link</td>
			<td><input type="text" name="link" style="width:400px" value="http://" /></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" value="Submit" /> <input type="reset" value="Clear form" /></td>
		</tr>
	</table>
</form>
</div>
</body>
</html>
