#QHHead-fix {
	height:69px;
}
#QHHead-fix2 {
	width:269px !important;
}

.olControlLayerSwitcher .layersDiv {
  width: 268px !important;
}

#DistanceDiv a {
	width: 84px;
}

#searchInput {
	padding-top: 6px;
}

#searchBtn {
	border: none;
}