body {
	overflow: hidden;
	padding:0;
	margin:0;
}

.olControlLayerSwitcher{
	margin-top:0 !important;
	top:0 !important;
}

.olControlLayerSwitcher .layersDiv{
	padding: 0 0 0 60px !important;
  background-color:#06689E !important;
  border: 1px solid #C6C6C6;
  height:68px !important;
  width: 198px !important;
  opacity:0.75;
  filter:alpha(opacity=75);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

.olControlLayerSwitcher .layersDiv .baseLayersDiv {
	padding-top: 8px;
	font-size: 15px;
	font-weight: normal;
}

.olControlLayerSwitcher .layersDiv .baseLayersDiv input {
	height:1.2em;
	width:1.8em;
	visibility: hidden;
	margin: 0 -7px;
}

.olControlLayerSwitcher .layersDiv .baseLayersDiv span {
	cursor: pointer;
}

.olControlLayerSwitcher .layersDiv .baseLayersDiv img {
	cursor: pointer;
}

#QHdM,
#QHdM img{
	position:absolute;
  width:22px !important;
  height:19px !important;
}

.olControlPanZoomBar{
	top:83px !important;
  left:30px !important;
  width:30px;
  height:195px;
}

.olControlPanZoomBar div {
	cursor: pointer;
}

#QHp{
	font:12px Arial,Verdana,san-serif;
}

#QHp a{
	text-decoration:none;
}

#QHp a:hover{
	text-decoration:underline;
}

#QHp .QHpT{
	font-size:125%;
  font-weight:bold;
  white-space:nowrap;
}

#QHd{
	background-color:transparent;
	position:absolute;
	top:140px;
	right:0;
	width:260px;
	z-index:9999;
	background-color:#FFF;
	border: 1px solid #777;
	box-shadow:0 0 2px 2px #999;
	-moz-box-shadow:0 0 2px 2px #999;
	-webkit-box-shadow:0 0 2px 2px #999;
}

#QHdX {
	position:absolute;
	left:-20px;
}
#QHdX a {
	display:block;
	padding:5px 0px;
	width:20px;
	background-color:#ADD8E6;
	cursor:pointer;
}
#QHdX a span {
	background:url('img/collapse.png') no-repeat center center;
	width:15px;
	display: inline-block;
}

#QHdC{
	padding:5px 0 5px 10px;
	font:12px sans-serif;
}

#QHdC a {
	text-decoration: none;
	color:#0000EE;
}

#QHdC a:hover {
	text-decoration: underline;
}

#QHdC .news_src {
	font-size: 9px;
}
#QHdC .news_src span {
	font-weight: bold;
	color: #444;
}

#homelinkContent{
	width:100%;
  text-align:center;
}

#QHh a{
	font:bold 13px Arial;
  text-decoration:none;
  color:#FFF;
  text-shadow:2px 1px 2px #444;
}

#QHh .logoLink{
	margin-top:10px;
}

#QHh img{
	opacity:1;
  filter:alpha(opacity=100);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

#DistanceDiv {
	color: white;
	width: 100%;
	font-family: sans-serif;
	font-size: 13px;
	padding: 0;
}

#DistanceDiv a {
	margin-right: 1px;
	padding: 5px 5px 8px;
	width: 74px;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	background: url('img/toolbg.png') transparent top left no-repeat;
}

#DistanceDiv a.active {
	padding: 5px 5px 25px;
	background: url('img/selecttoolbg.png') transparent top left no-repeat;
}

#outputCoord {
	z-index: 9999;
	position: absolute;
	width: auto;
	background-color: #FFF;
	border: 1px solid #9F9F9F;
	padding: 0px 5px;
	white-space: nowrap;
}

#QHHead {
	height:69px;
	background-color: #06689E !important;
  opacity:0.40;
  filter:alpha(opacity=40);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.topMsgContent {
    height:40px;
	padding:3px 5px;
	white-space:nowrap;
	background:#000;
	color:#FFF;
	font-family: Tahoma;
	font-size: 13px;
	opacity: .75;
	filter: alpha(opacity=75);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

#ovlSld {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
	font-family: Arial;
}

#ovlSld .ovlW {
}

#ovlSld .ovlShow {
	background-color: #555;
	opacity: .75;
	filter: alpha(opacity=75);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	overflow: auto;
}

#ovlSld .ovlDt {
	background-color:#555;
}

#ovlSld .ovlDt a {
	color: #FFF;
}

#ovlSld .ovlDt .viewFeatureList {
	padding: 5px;
	margin-top: 10px;
}

#ovlSld .ovlDt .viewFeatureList .content {
	color: #FFF;
	font-size: 13px;
	width: 100%;
}

#ovlSld .ovlDt .viewFeatureList .content .header {
	font-weight: bold;
	width:130px;
}

#ovlSld .clxbx {
	text-align: right;
	width: 100%;
}

#ovlSld .clxbx a {
	display: inline-block;
	padding: 3px;
	border-left: 1px solid #B3B3B3;
	border-bottom: 1px solid #B3B3B3;
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
}

#searchBox {
	position: absolute;
	top:18px;
	left: 290px;
	z-index: 910;
}

#searchInput {
	width:350px;
	height:30px;
	padding-left: 5px;
	border: 1px solid #000;
}
#searchInput.show {
	background:url('img/nhapduan.png') top left no-repeat #FFF;
}

#searchBtn {
	height:30px;
	cursor:pointer;
	background: url('img/searchbg.png') top left #FFF repeat-x;
	border-width: thin;
}

#searchBtn:hover {
	border-color: #8BCBFF;
}

#searchResult {
	position: absolute;
	top: 48px;
	left: 290px;
	z-index: 8999;
	width: 348px;
	border: 1px solid #06689E;
	background-color: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size:12px;
	padding-top: 19px;
}

#resultContent {
	padding-bottom: 5px;
	max-height: 400px;
	overflow-y: auto;
}

#resultContent a {
	display: block;
	text-decoration: none;
	color: #000;
	font-size: 15px;
	padding: 3px 10px;
	margin:0 1px;
}

#resultContent a:hover {
	background-color: #7FB1CA;
}

#searchLoading, #searchHint {
	position: absolute;
	top: 2px;
	left: 5px;
}

#searchHint a {
	color:#0000EE;
	text-decoration: none;
	font-style: italic;
}
#searchHint a:hover {
	text-decoration: underline;
}

#searchLoading img {
	vertical-align: text-top;
}

#searchHide {
	position: absolute;
	top: 1px;
	right: 3px;
}

#searchHide .collapse {
	display: inline-block;
	cursor: pointer;
}
